
<!-- Main content -->
<section class="content container-fluid">
<div class="">
  <div class="form-group">
    
  </div>
<!--  <div class="col-md-1"><img src="/static/upload/1.jpg"></div>-->
  <div class="media">
            <a class="media-left" href="#">
                <img src="/static/upload/1.jpg" alt="" width="100" height="100">
            </a>
            <div class="media-body">
                <h1 class="media-heading">
                    {{.students.Name}} {{.name}}
                </h1>
                <p>shbsffsyfggfuwyvfhavfyefuyvafchsfyuaqgwy
                </p>
            </div>
        </div>
</div>
</section>
<!-- /.content -->
